* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background: linear-gradient(135deg, #686f8d, #80609f);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgb(213, 199, 199);
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #7984b7;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #787eb2;
}

.link {
  text-align: center;
  margin-top: 15px;
}

.link a {
  color: #5f6da9;
  text-decoration: none;
  font-weight: bold;
}

.table-container {
  background: rgb(145, 139, 139);
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 900px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #70789b;
  color: white;
}

canvas {
  margin-top: 30px;
}

/* ===== ADMIN PAGE BOX LAYOUT ===== */
.admin-page {
  background: linear-gradient(135deg, #6a5acd, #836fff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center dashboard card */
.dashboard-box {
  background: white;
  width: 90%;
  max-width: 950px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
  text-align: center;
}

